;; Windows
;; Get font name : (w32-select-font nil t)   C-j  in *scratch*
;; http://www.gnu.org/software/emacs/windows/Fonts-and-text-translation.html#Fonts-and-text-translation

;; (set-face-font 'default "-outline-Consolas-normal-r-normal-normal-12-120-96-96-c-*-iso8859-1")
;;(set-face-font 'default "-outline-Envy Code R-normal-r-normal-normal-12-90-96-96-c-*-iso8859-1")
;; linux
;; (set-face-font 'default "Consolas-10")



;; carbon emacs
;; M-x mac-font-panel-mode
;; M-x describe-font
;; (set-default-font "-apple-monaco-medium-r-normal--10-0-72-72-m-0-iso10646-1")
;;(set-default-font "-apple-monaco-medium-r-normal--10-0-72-72-m-0-iso10646-1")
;;(set-default-font "Anonymous Pro 12" )